{% extends 'overall/layout.twig' %}

{% block appBody %}
	<section class="probootstrap-slider flexslider probootstrap-inner">
		<ul class="slides">
			<li style="background-image: url(img/slider-room-hotel-isabel.jpg);" class="overlay hero">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="probootstrap-slider-text text-center">
								<p><img src="img/line_logo_flower_mini.svg" class="seperator probootstrap-animate" alt="Free HTML5 Bootstrap Template"></p>
								<h1 class="probootstrap-heading probootstrap-animate">Habitaciones para ti</h1>
								<div class="probootstrap-animate probootstrap-sub-wrap">Te sentirás como en tu propia casa en cualquiera de nuestras 54 habitaciones, diferentes entre sí adaptadas a tus necesidades.</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</section>

	<section class="probootstrap-section">
		<div class="container">
			<div class="row">

				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="probootstrap-room">
						<a href="#"><img src="img/room/habitacion-sencilla-hotel-isabel-gdl.png" alt="Hotel Isabel en Guadalajara Jalisco [Imagen] by polenavenue.com" class="img-responsive"></a>
						<div class="text">
							<h3>Habitación Estándar</h3>
							<p>Desde
								<strong>$690.00/Noche</strong>
							</p>
							<div class="post-meta mb30">
								<ul>
									<li>
										<span class="review-rate">4.9</span>
										<i class="icon-star"></i>
										252 Reviews</li>
									<li>
										<i class="icon-user2"></i>
										2 Personas</li>
								</ul>
							</div>
							<p>
								<a href="{{ base_url() }}rooms/habitacion-sencilla" class="btn btn-primary" role="button">Ver servicios</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="probootstrap-room">
						<a href="#"><img src="img/room/habitacion-doble-hotel-isabel-gdl.png" alt="Hotel Isabel en Guadalajara Jalisco [Imagen] by polenavenue.com" class="img-responsive"></a>
						<div class="text">
							<h3>Habitación Doble</h3>
							<p>Desde
								<strong>$890.00/Noche</strong>
							</p>
							<div class="post-meta mb30">
								<ul>
									<li>
										<span class="review-rate">4.9</span>
										<i class="icon-star"></i>
										252 Reviews</li>
									<li>
										<i class="icon-user2"></i>
										4 Personas</li>
								</ul>
							</div>
							<p>
								<a href="{{ base_url() }}rooms/habitacion-doble" class="btn btn-primary" role="button">Ver servicios</a>
							</p>
						</div>
					</div>
				</div>
				<div class="clearfix visible-sm-block"></div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="probootstrap-room">
						<a href="#"><img src="img/room/suit-luis-fernando-hotel-isabel-gdl.png" alt="Hotel Isabel en Guadalajara Jalisco [Imagen] by polenavenue.com" class="img-responsive"></a>
						<div class="text">
							<h3>Suite Luis Fernando</h3>
							<p>Desde
								<strong>$890.00/Noche</strong>
							</p>
							<div class="post-meta mb30">
								<ul>
									<li>
										<span class="review-rate">5</span>
										<i class="icon-star"></i>
										252 Reviews</li>
									<li>
										<i class="icon-user2"></i>
										2 Personas</li>
								</ul>
							</div>
							<p>
								<a href="{{ base_url() }}rooms/suite-luis-fernando" class="btn btn-primary" role="button">Ver servicios</a>
							</p>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="probootstrap-room">
						<a href="#"><img src="img/room/suit-isabel-hotel-isabel-gdl.png" alt="Hotel Isabel en Guadalajara Jalisco [Imagen] by polenavenue.com" class="img-responsive"></a>
						<div class="text">
							<h3>Suite Isabel</h3>
							<p>Desde
								<strong>$890.00/Noche</strong>
							</p>
							<div class="post-meta mb30">
								<ul>
									<li>
										<span class="review-rate">5</span>
										<i class="icon-star"></i>
										252 Reviews</li>
									<li>
										<i class="icon-user2"></i>
										2 Personas</li>
								</ul>
							</div>
							<p>
								<a href="{{base_url() }}rooms/suite-isabel" class="btn btn-primary" role="button">Ver servicios</a>
							</p>
						</div>
					</div>
				</div>
				<div class="clearfix visible-sm-block"></div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="probootstrap-room">
						<a href="#"><img src="img/room/suit-paillaud-hotel-isabel-gdl.png" alt="Hotel Isabel en Guadalajara Jalisco [Imagen] by polenavenue.com" class="img-responsive"></a>
						<div class="text">
							<h3>Suite Paillaud</h3>
							<p>Desde
								<strong>$990.00/Noche</strong>
							</p>
							<div class="post-meta mb30">
								<ul>
									<li>
										<span class="review-rate">5</span>
										<i class="icon-star"></i>
										252 Reviews</li>
									<li>
										<i class="icon-user2"></i>
										4 Personas</li>
								</ul>
							</div>
							<p>
								<a href="{{ base_url() }}rooms/suite-paillaud" class="btn btn-primary" role="button">Ver servicios</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="probootstrap-room">
						<a href="#"><img src="{{ base_url }}img/room/master-suite/master-suite-1.png" alt="Hotel Isabel en Guadalajara Jalisco [Imagen] by polenavenue.com" class="img-responsive"></a>
						<div class="text">
							<h3>Master Suite</h3>
							<p>Desde
								<strong>$1090.00/Noche</strong>
							</p>
							<div class="post-meta mb30">
								<ul>
									<li>
										<span class="review-rate">5</span>
										<i class="icon-star"></i>
										252 Reviews</li>
									<li>
										<i class="icon-user2"></i>
										3 Personas</li>
								</ul>
							</div>
							<p>
								<a href="{{ base_url() }}rooms/master-suite" class="btn btn-primary" role="button">Ver servicios</a>
							</p>
						</div>
					</div>
				</div>
				<div class="clearfix visible-sm-block"></div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="probootstrap-room">
						<a href="#"><img src="{{ base_url }}img/room/junior-suite/junior-suite-1.png" alt="Hotel Isabel en Guadalajara Jalisco [Imagen] by polenavenue.com" class="img-responsive"></a>
						<div class="text">
							<h3>Junior Suite</h3>
							<p>Desde
								<strong>$990.00/Noche</strong>
							</p>
							<div class="post-meta mb30">
								<ul>
									<li>
										<span class="review-rate">5</span>
										<i class="icon-star"></i>
										252 Reviews</li>
									<li>
										<i class="icon-user2"></i>
										3 Personas</li>
								</ul>
							</div>
							<p>
								<a href="{{ base_url() }}rooms/junior-suite" class="btn btn-primary" role="button">Ver servicios</a>
							</p>
						</div>
					</div>
				</div>


			</div>

			<div class="row">
				<div class="col-md-12 text-center">
					<h2>¿POR QUÉ ELEGIRNOS?</h2>
					<p class="mb50"><img src="img/line_flower_decorative_full.svg" class="svg" alt="Free HTML5 Bootstrap Template"></p>
				</div>
				<div class="col-md-4">
					<div class="service left-icon left-icon-sm probootstrap-animate">
						<div class="icon">
							<i class="icon-check"></i>
						</div>
						<div class="text">
							<h3>DESDE 1959</h3>
							<p>Somos un hotel con más de 60 años de experiencia en servicio al cliente.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service left-icon left-icon-sm probootstrap-animate">
						<div class="icon">
							<i class="icon-check"></i>
						</div>
						<div class="text">
							<h3>54 HABITACIONES</h3>
							<p>Contamos con 7 tipos de habitaciones diferentes entre sí, pensadas en tus necesidades. Ya sea por un viaje de negocios o placer.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service left-icon left-icon-sm probootstrap-animate">
						<div class="icon">
							<i class="icon-check"></i>
						</div>
						<div class="text">
							<h3>UBICACIÓN ESTRATEGICA</h3>
							<p>Nos encontramos a sólo 25 minutos del Aeropuerto Internacional de Guadalajara.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="probootstrap-section probootstrap-section-dark">
		<div class="container">
			<div class="row mb30">
				<div class="col-md-8 col-md-offset-2 probootstrap-section-heading text-center">
					<h2>Explora nuestros servicios</h2>
					<p class="lead">Disfrutarás de una magnífica ubicación en pleno Centro de Guadalajara, a solo 15 minutos a pie de Avenida Chapultepec y Consulado de los Estados Unidos en Guadalajara.</p>
					<p><img src="img/line_decorative_full.svg" class="svg" alt="Free HTML5 Bootstrap Template"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="service left-icon probootstrap-animate">
						<div class="icon">
							<img src="img/flaticon/svg/001-building.svg" class="svg" alt="Free HTML5 Bootstrap Template by uicookies.com">
						</div>
						<div class="text">
							<h3>50 HABITACIONES</h3>
							<p>Te sentirás como en tu propia casa en cualquiera de nuestras 54 habitaciones, diferentes entre sí adaptadas a tus necesidades.</p>
							<p>
								<a href="#" class="link-with-icon">Ver más
									<i class=" icon-chevron-right"></i>
								</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service left-icon probootstrap-animate">
						<div class="icon">
							<img src="img/flaticon/svg/003-restaurant.svg" class="svg" alt="Free HTML5 Bootstrap Template by uicookies.com">
						</div>
						<div class="text">
							<h3>"EL COMEDOR"</h3>
							<p>Prueba de deliciosos platillos sin moverte del hotel, en nuestro restaurante ‘‘El Comedor’’</p>
							<p>
								<a href="#" class="link-with-icon">Ver más
									<i class=" icon-chevron-right"></i>
								</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service left-icon probootstrap-animate">
						<div class="icon">
							<img src="img/flaticon/svg/004-parking.svg" class="svg" alt="Free HTML5 Bootstrap Template by uicookies.com">
						</div>
						<div class="text">
							<h3>"EL VALIENTE"</h3>
							<p>Disfruta de nuestro servicio de transporte privado, esperando a llevarte a conocer la ciudad. Disponible para ti las 24hrs.</p>
							<p>
								<a href="#" class="link-with-icon">Ver más
									<i class=" icon-chevron-right"></i>
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="probootstrap-half">
		<div class="image" style="background-image: url(img/hotel_isabel_guadalajara.jpg);"></div>
		<div class="text">
			<div class="probootstrap-animate fadeInUp probootstrap-animated">
				<h2 class="mt0">Hotel Isabel</h2>
				<p><img src="img/line_flower_decorative_full.svg" class="seperator" alt="Free HTML5 Bootstrap Template"></p>
				<div class="row">
					<div class="col-md-6">
						<p>Alberca al aire libre podrás disfrutar de un merecido descanso o de un momento de relajación. No te quedará ni un minuto libre. No climatizada.</p>
					</div>
					<div class="col-md-6">
						<p>Terraza y jardín donde podrás sentarte a disfrutar de tu desayuno mientras te relajas contemplado el paisaje.</p>
					</div>
				</div>
				<p>
					<a href="#" class="link-with-icon white">Ver más<i class=" icon-chevron-right"></i>
					</a>
				</p>
			</div>
		</div>
	</section>
{% endblock %}
