{% extends 'overall/layout.twig' %}

{% block appBody %}
	<section class="probootstrap-section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="text-center">Pre-reservación</h2>
                    
                    <h3 class="text-center">Responsable de la reservación</h3>
                    <p>El responsable de la reservacion es y será en todo momento quien estara a cargo de salvaguardar el cuidado de las instalaciones como voz principal de el grupo de huespedes.</p>

					<form action="{{ base_url() }}book-now/send" method="POST">

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Nombre(s)</label>
									<input type="text" class="form-control" name="responsable_name">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Apellido(s)</label>
									<input type="text" class="form-control" name="responsable_surname">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Teléfono</label>
									<input type="text" class="form-control" name="responsable_phone">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Correo electrónico</label>
									<input type="text" class="form-control" name="responsable_email">
								</div>
							</div>
						</div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Especificaciones y comentarios</label>
                                    <textarea class="form-control" rows="4" name="observations_guest"></textarea>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="termsConditionsReservation" id="termsConditionsReservation" required="" data-com.bitwarden.browser.user-edited="yes">
                                        <label class="form-check-label" for="termsConditionsReservation">
                                            Acepto <strong>los términos, condiciones y políticas del hotel.</strong>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <h3 class="text-center">Métodos de pago</h3>

                        <div class="row mb-10">
                            <div class="col mb-4">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="payment_method" id="selectCard" value="Card" required="">
                                    <label class="form-check-label" for="selectCard">Débito/Crédito</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="payment_method" id="selectSPEI" value="SPEI" required="">
                                    <label class="form-check-label" for="selectSPEI">SPEI</label>
                                </div>
                            </div>
                        </div>
                        
                        <div id="paymentCard" class="d-none">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Puede seleccionar pagar en efectivo cuando este presente en el Hotel, sin embargo sera retenido un monto parcial equivalente a la primera noche para asegurar su reservación.</p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre en la tarjeta</label>
                                        <input class="form-control" name="cc_name">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Número de tarjeta</label>
                                        <input class="form-control" name="cc_number">    
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>Caducidad</label>
                                        <input class="form-control" name="cc_expires_mm" placeholder="MM">
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label style="visibility:hidden;">sdfsf</label>
                                        <input class="form-control" name="cc_expires_yy" placeholder="YY">
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label>CVV</label>
                                        <input class="form-control" name="cc_cvv" placeholder="CVV">
                                    </div>
                                </div>
                            </div>

                        </div>
                        

                        
                        <div class="mb-4 d-none" id="paymentSPEI">

                            <div class="media">
                                <img src="custom/img/spei.png" class="align-self-start mr-3" alt="...">
                                <div class="media-body">
                                    <h5 class="mt-0">Datos Bancarios</h5>

                                    <p>Al finalizar la transferencia, es necesario enviar un comprobante o captura emitido por la app bancaria de tu preferencia al correo <strong>reservaciones@.com</strong> adjuntando dicha captura u comprobante que justifique el monto especificado en la reserva, así como el Folio que será emitido al finalizar la reservación.</p>

                                    <p><b>BBVA Bancomer</b></p>
                                    <p><b>Receptor:</b> HOTEL MONTENEGRO GDL SA DE CV</p>
                                    <p><b>Cuenta:</b> 0113483169</p>
                                    <p><b>CLABE:</b> 012320001134831692</p>

                                </div>
                            </div>

                        </div>
                        
                        <input type="hidden" name="room_id" value="{{room.room_id}}">
                        <input type="hidden" name="num_rooms" value="{{room.num_rooms}}">
                        <input type="hidden" name="check_in" value="{{room.check_in}}">
                        <input type="hidden" name="check_out" value="{{room.check_out}}">
                        <input type="hidden" name="adults" value="{{room.adults}}">
                        <input type="hidden" name="kids" value="{{room.kids}}">

                        
						<div class="row">
							<div class="col-md-12">
								<input type="submit" class="btn btn-primary btn-block" value="Enviar pre-reserva">
							</div>
						</div>

					</form>

				</div>
			</div>
		</div>
	</section>

	<section class="probootstrap-section probootstrap-section-dark">
		<div class="container">
			<div class="row mb30">
				<div class="col-md-8 col-md-offset-2 probootstrap-section-heading text-center">
					<h2 id="recomendaciones">Recomendaciones</h2>
				</div>
			</div>
			<div class="row probootstrap-gutter10">
                
                 {% for room in recommend_rooms %}
                
				<div class="col-md-6">
					<div class="probootstrap-block-image-text">
						<figure>
							<a href="{{ base_url() }}img/room/habitacion-sencilla-hotel-isabel-gdl.png" class="image-popup">
								<img src="{{ base_url() }}img/room/habitacion-sencilla-hotel-isabel-gdl.png" alt="Hotel Isabel en Guadalajara Jalisco [Imagen] by polenavenue.com" class="img-responsive">
							</a>
						</figure>
						<div class="text">
							<h3>
								<a href="rooms.html"><small>{{ room.rooms }} x</small> {{ room.name }}</a>
							</h3>
							<div class="post-meta">
								<ul>
                                    {{ reservacion.check_in }}
									<li><b>Check-in:</b> {{ room.check_in }}</li>
									<li><b>Check-out:</b> {{ room.check_out }}</li>
								</ul>
							</div>
                            <div class="post-meta">
                                <ul>
                                    <li><b>Ocupación:</b> {{ room.adults }} Adulto(s), 0 Adulto(s) extra y {{ room.kids }} Niño(s).</li>
                                </ul>
                            </div>
							<p>{{ room.description }}</p>
                            
                            <p><b>Costo por noche(s):</b> MXN 2,411.00</p>
                            <h4>MXN {{ room.subtotal }}</h4>
                            <p><small>+ MXN {{ room.taxes}} de impuestos y cargos.</small></p>
							<p>
								<a href="{{ base_url() }}book-now?room_id={{ room.room_id }}&num_rooms={{ room.rooms }}&check_in={{ room.check_in }}&check_out={{ room.check_out }}&adults={{room.adults}}&kids={{room.kids}}" class="btn btn-primary">Pre-reservación</a>
							</p>
						</div>
					</div>
				</div>
                
                {% endfor %}
			</div>
		</div>
	</section>

	<section class="probootstrap-half">
		<div class="image" style="background-image: url({{ base_url() }}img/hotel_isabel_guadalajara.jpg);"></div>
		<div class="text">
			<div class="probootstrap-animate fadeInUp probootstrap-animated">
				<h2 class="mt0">Hotel Isabel</h2>
				<p><img src="{{ base_url() }}img/line_flower_decorative_full.svg" class="seperator" alt="Hotel Isabel en Guadalajara Jalisco [Imagen]"></p>
				<div class="row">
					<div class="col-md-6">
						<p>Alberca al aire libre podrás disfrutar de un merecido descanso o de un momento de relajación. No te quedará ni un minuto libre. No climatizada.</p>
					</div>
					<div class="col-md-6">
						<p>Terraza y jardín donde podrás sentarte a disfrutar de tu desayuno mientras te relajas contemplado el paisaje.</p>
					</div>
				</div>
				<p>
					<a href="about.html" class="link-with-icon white">Ver más<i class=" icon-chevron-right"></i>
					</a>
				</p>
			</div>
		</div>
	</section>
{% endblock %}

{% block appFooter %}
                    <script>
                    let selectCard = document.getElementById('selectCard');
let selectSPEI = document.getElementById('selectSPEI');
// let selectOXXO = document.getElementById('selectOXXO');
// let selectCash = document.getElementById('selectCash');

let paymentCard = document.getElementById('paymentCard');
let paymentSPEI = document.getElementById('paymentSPEI');
// let paymentOXXO = document.getElementById('paymentOXXO');
// let paymentCash = document.getElementById('paymentCash');

function hiddenPaymentMethods() {
  paymentCard.classList.add('d-none');
  paymentSPEI.classList.add('d-none');
  // paymentOXXO.classList.add('d-none');
  // paymentCash.classList.add('d-none');
}

selectCard.addEventListener('click', function () {
  hiddenPaymentMethods();
  paymentCard.classList.remove('d-none');
});

selectSPEI.addEventListener('click', function () {
  hiddenPaymentMethods();
  paymentSPEI.classList.remove('d-none');
});

                </script>
{% endblock %}