{% extends 'overall/layout.twig' %}

{% block appHeader %}
	<style>
		.flexslider.probootstrap-inner {
			height: 620px !important;
		}
	</style>
	<script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}

{% block appBody %}
	<section class="probootstrap-section">
		<div class="container">

			<div class="row probootstrap-gutter40">
				<div class="col-md-12">
					<h2 class="mt0 text-center"> Verificar Cup贸n</h2>

					{% if promocode is defined %}
						<h3>Informaci贸n del cup贸n</h3>
						<p>
							<b>C贸digo de cup贸n:</b>
							{{ promocode.promocode }}</p>
						<p>
							<b>Porcentaje de descuento:</b>
							{{ promocode.percentage }}</p>
						<p>
							<b>Estado:</b>
							{{ promocode.is_redeemed == 0 ? 'V谩lido' : 'Ya ha sido canjeado' }}</p>

						<a href="{{base_url}}verificar-cupon.php?canjear={{promocode.promocode}}">
							Canjear cup贸n >>
						</a>
					{% elseif is_invalid %}
                        <h3>隆Cup贸n inv谩lido!</h3>
						<a href="{{base_url}}verificar-cupon.php">
							Intentar con otro cup贸n >>
						</a>    
                    {% else %}
						<form action="#" method="post" class="probootstrap-form">

							<div class="form-group">
								<label>Introduzca el c贸digo de cup贸n</label>
								<input type="text" class="form-control" name="promocode" required>
							</div>

							<div class="form-group">
								<div class="g-recaptcha" data-sitekey="6LfRzz4aAAAAAM7lr6yJElJFT7BOPBmRfVwvU41j"></div>
							</div>

							<div class="form-group">
								<input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" value="Verificar Cup贸n">
							</div>
						</form>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}
