<!DOCTYPE html>

<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Hotel Isabel &mdash; Complejo hotelero en Guadalajara, Cento, Jalisco.</title>
		<meta name="description" content="Acogedor hotel en el centro de Guadalajara Jalisco México, Hotel Isabel; Una edificación contemporánea rodeada de aves y jardines típicos de las casas de tapatías del ultimo medio del siglo pasado.">
		<meta name="keywords" content="hotel, comodo, oferta, gdl, centro, expiatorio, vacaciones, jalisco, tequila, viaje, hospedar, bbb">

		<link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900" rel="stylesheet">
		<link rel="stylesheet" href="{{ base_url() }}css/styles-merged.css">
		<link rel="stylesheet" href="{{ base_url() }}css/style.min.css">
		<link
		rel="stylesheet" href="{{ base_url() }}css/custom.css">

	    <!--[if lt IE 9]>
		    <script src="{{ base_url() }}js/vendor/html5shiv.min.js"></script>
		    <script src="{{ base_url() }}js/vendor/respond.min.js"></script>
		<![endif]-->

        {% block appHeader %}{% endblock %}
	</head>
	<body>

		<!-- START: header -->

		<header
			role="banner" class="probootstrap-header">
			<!-- <div class="container"> -->
			<div class="row">
				<a href="{{ base_url() }}" class="probootstrap-logo visible-xs"><img src="{{ base_url() }}img/logo_sm.png" class="hires" width="120" height="33" alt="Free Bootstrap Template by polenavenue.com"></a>

				<a href="#" class="probootstrap-burger-menu visible-xs">
					<i>Menu</i>
				</a>
				<div class="mobile-menu-overlay"></div>

				<nav role="navigation" class="probootstrap-nav hidden-xs">
					<ul class="probootstrap-main-nav">
						<li class="active">
							<a href="{{ base_url() }}">Inicio</a>
						</li>
						<li>
							<a href="{{ base_url() }}about-us">Nosotros</a>
						</li>
						<li>
							<a href="{{ base_url() }}rooms">Habitaciones</a>
						</li>
						<li class="hidden-xs probootstrap-logo-center">
							<a href="{{ base_url() }}"><img src="{{ base_url() }}img/logo_md.png" class="hires" width="181" height="50" alt="Leilani"></a>
						</li>
						<li>
							<a href="{{ base_url() }}restaurant">El Comedor</a>
						</li>
						<li>
							<a href="{{ base_url() }}packages">Paquetes</a>
						</li>
						<li>
							<a href="{{ base_url() }}contact">Contacto</a>
						</li>
					</ul>
					<div class="extra-text visible-xs">
						<a href="#" class="probootstrap-burger-menu">
							<i>Menu</i>
						</a>
						<h5>Habla con nosotros</h5>
						<ul class="social-buttons">
							<li>
								<a href="https://api.whatsapp.com/send?phone=523322415915&text=Hola,%20necesito%20ayuda">
									<i class="icon-whatsapp"></i>
								</a>
							</li>
							<li>
								<a href="https://www.facebook.com/HotelIsabelMx">
									<i class="icon-facebook2"></i>
								</a>
							</li>
							<li>
								<a href="https://www.instagram.com/hotelisabelgdl/">
									<i class="icon-instagram2"></i>
								</a>
							</li>
						</ul>
					</div>
				</nav>

			</div>
			<!-- </div> -->
		</header>
		<!-- END: header -->

        <!-- START: content -->
        {% block appBody %}{% endblock %}
        <!-- END: content -->

		<!-- START: footer -->
		<footer role="contentinfo" class="probootstrap-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="probootstrap-footer-widget">
							<p class="mt40"><img src="{{ base_url() }}img/logo_sm.png" class="hires" width="120" height="33" alt="Hotel Isabel en Guadalajara Jalisco [Imagen] by polenavenue.com"></p>
							<p>Hotel Isabel fue fundado en 1960 por iniciativa de la familia Paillaud Cano, quienes mediante su habilidad visionaria lo convirtieron en una empresa familiar especializada en el servicio al huésped, donde la calidad en la atención y la calidez en el servicio son de vital importancia.</p>
							<p>
								<a href="about.html" class="link-with-icon">Ver más
									<i class=" icon-chevron-right"></i>
								</a>
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="probootstrap-footer-widget">
							<br>
							<div id="cont_07f0b4e90a670d465bb17d320c2573e0">
								<script type="text/javascript" async src="https://www.theweather.com/wid_loader/07f0b4e90a670d465bb17d320c2573e0"></script>
							</div>

						</div>
					</div>
					<div class="col-md-4">
						<div class="probootstrap-footer-widget">
							<h3>Contacto</h3>
							<ul class="probootstrap-contact-info">
								<li>
									<i class="icon-location2"></i>
									<span>
										<a href="https://g.page/HotelIsabelGdl?share" target="blank_">José Gpe. Montenegro #1572 44170 Guadalajara, Jalisco, México</a>
									</span>
								</li>
								<li>
									<i class="icon-mail"></i>
									<span>
										<a href="mailto:reservaciones@hotelisabel.com" target="blank_">reservaciones@hotelisabel.com</a>
									</span>
								</li>
								<li>
									<i class="icon-phone2"></i>
									<span>
										<a href="tel:+52 33 3826 2630" target="blank_">+52 33 3826 2630</a>
									</span>
								</li>
							</ul>

						</div>
					</div>
				</div>
				<div class="row mt40">
					<div class="col-md-12 text-center">
						<ul class="probootstrap-footer-social">
							<li>
								<a href="https://api.whatsapp.com/send?phone=523322415915&text=Hola,%20necesito%20ayuda" target="blank_">
									<i class="icon-whatsapp"></i>
								</a>
							</li>
							<li>
								<a href="https://www.facebook.com/HotelIsabelMx" target="blank_">
									<i class="icon-facebook"></i>
								</a>
							</li>
							<li>
								<a href="https://www.instagram.com/hotelisabelgdl/" target="blank_">
									<i class="icon-instagram2"></i>
								</a>
							</li>
						</ul>
						<p>
							Copyright ©<script>
								document.write(new Date().getFullYear());
							</script>
							Derechos Reservados | Con
							<i class="icon-heart" aria-hidden="true"></i>
							por
							<a href="https://pcbtroniks.com" target="_blank">PCBTRONIKS</a>
							y
							<a href="https://polenavenue.com">Polen Avenue</a>
						</p>

					</div>
				</div>
			</div>
		</footer>
		<!-- END: footer -->

		<script src="{{ base_url() }}js/scripts.min.js"></script>
        <script src="{{ base_url() }}js/main.min.js"></script>
        <script>const BASE_URL = '{{ base_url() }}';</script>
		<script src="{{ base_url() }}js/custom.js"></script>

        {% block appFooter %}{% endblock %}
	</body>
</html>
