{% extends 'overall/layout.twig' %}

{% block appBody %}
	<section class="probootstrap-slider flexslider probootstrap-inner">
		<ul class="slides">
			<li style="background-image: url(img/slider-about-hotel-isabel.jpg);" class="overlay hero">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="probootstrap-slider-text text-center">
								<p><img src="img/line_logo_flower_mini.svg" class="seperator probootstrap-animate" alt="Hotel Isabel en Guadalajara Jalisco [Imagen] by polenavenue.com"></p>
								<h1 class="probootstrap-heading probootstrap-animate">Nuestra Historia</h1>
								<div class="probootstrap-animate probootstrap-sub-wrap">Disfrutarás de una magnífica ubicación en pleno Centro de Guadalajara, a solo 15 minutos a pie de Avenida Chapultepec y Consulado de los Estados Unidos en Guadalajara.</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</section>

	<section class="probootstrap-section">
		<div class="container">
			<div class="row mb30">
				<div class="col-md-12">
					<figure>
						<img src="img/nosotros/nosotros-slide-1.jpg" alt="Hotel Isabel en Guadalajara Jalisco [Imagen] by polenavenue.com " class="img-responsive" id="nosotrosSlide">
					</figure>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<p>Hotel Isabel fue fundado en 1960 por iniciativa de la familia Paillaud Cano, quienes mediante su habilidad visionaria lo convirtieron en una empresa familiar especializada en el servicio al huésped, donde la calidad en la atención y la calidez en el servicio son de vital importancia.</p>

					<p>Las instalaciones han sido modificadas con el paso de los años, comenzando con una propiedad que fue adaptada para construir un hotel donde se accediera a las habitaciones con el vehículo, más tarde se adquirieron las fincas aledañas entre las que estaba la huerta del abuelo Paillaud y la abuela Cano, cuyos árboles frutales en su mayoría se conservaron intactos, aunque sí hubo casos en los que fueron trasplantados para las remodelaciones para que Hotel Isabel pudiera verse como hoy en día se encuentra, entonces se procedió a la modernización del restaurante “El Comedor” fundado en 1959 manteniéndolo a la vanguardia y extendiendo su atención al público general, conservando las recetas tradicionales que le han brindado su prestigio a través de su famosa variedad de chilaquiles.</p>
				</div>
				<div class="col-md-6">
					<p>Sus instalaciones se ampliaron con la construcción de una alberca y un orquideario, ofreciendo espacios para la recreación y la inspiración que transmite el hotel.</p>

					<p>El Hotel Isabel fue nombrado así por la señora Mirelle Paillaud de ascendencia francesa, en honor a la más pequeña de sus hijas, se ubica en el tradicional barrio de la colonia Americana.</p>

					<p>
						Por el largo de los años ha sido catalogado como un lugar hospitalario, colonial, rustico y familiar.
					</p>
				</div>
			</div>

		</div>
	</section>

	<section class="probootstrap-section probootstrap-section-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2 class="mt0">SOBRE NOSOTROS</h2>
					<p class="mb50"><img src="img/curve.svg" class="svg" alt="Hotel Isabel en Guadalajara Jalisco [Imagen] by polenavenue.com"></p>
				</div>
				<div class="col-md-6">
					<div class="service left-icon left-icon-sm probootstrap-animate">
						<div class="icon">
							<i class="icon-check"></i>
						</div>
						<div class="text">
							<h3>MISIÓN</h3>
							<p>Nuestra misión en Hotel Isabel es ofrecer un espacio cómodo y  familiar, en donde los huéspedes puedan tomarse un respiro de la ciudad, que puedan encontrar la armonía dentro de nuestras instalaciones ya que encontrarán un sitio que les recuerde el estilo de las antiguas haciendas, cualidad dada por la estética de nuestras instalaciones que rescatan una atmósfera rural.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="service left-icon left-icon-sm probootstrap-animate">
						<div class="icon">
							<i class="icon-check"></i>
						</div>
						<div class="text">
							<h3>VISIÓN</h3>
							<p>Queremos lograr ser un hotel que se identifica por su toque antiguo pero mezclado con un toque moderno, con las facilidades necesarias para la satisfacción del huésped, donde pueda sentirse como en casa al estar inmerso en un ambiente familiar que además invita a escapar de la cotidianidad de la ciudad.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="probootstrap-section">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 mb50 text-center probootstrap-animate">
					<h2 class="mt0">Opiniones</h2>
					<p class="mb30"><img src="img/line_flower_decorative_full.svg" class="svg" alt="Hotel Isabel en Guadalajara Jalisco [Imagen] by polenavenue.com"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
					<h3 class="heading-with-icon">
						<i class="icon-chat"></i>
						<span>María - EUA</span>
					</h3>
					<p>Excelente todo, sobretodo la atención del personal, superatentos en todo momento y la ubicación bastante práctica, si regresaría, y  si lo recomendaria.</p>

				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
					<h3 class="heading-with-icon">
						<i class="icon-chat"></i>
						<span>Luis - MX</span>
					</h3>
					<p>Lo que más nos agradó a mi pareja y a su servidor, fue la atención y amabilidad de la encargada del turno de la noche, nos orientó y específico bastantes cosas, seguridad, y tours dentro del Estado, nos encontramos agradecidos por su servicio y por su manera de atendernos.</p>

				</div>
				<div class="clearfix visible-sm-block"></div>
				<div class="col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
					<h3 class="heading-with-icon">
						<i class="icon-chat"></i>
						<span>Zamarripa - MX</span>
					</h3>
					<p>del hotel sinceramente las fotos en la app se quedan muy chuiquitas pues necesitan ir y sentir ese viaje a la Historia donde Mirella mama de Isabel nos regala este bello lugar y creanlo se siente una paz y armonia en el aire 😍.</p>

				</div>
				<div class="clearfix visible-lg-block visible-md-block"></div>
				<div class="col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
					<h3 class="heading-with-icon">
						<i class="icon-chat"></i>
						<span>Merijnw - Países Bajos</span>
					</h3>
					<p>El aparcamiento privado fue en realidad la razón principal por la que elegimos este hotel. Pero el personal amable, la ubicación tranquila, camas cómodas y buen wifi estaban muy por encima de nuestras expectativas.</p>

				</div>
				<div class="clearfix visible-sm-block"></div>
				<div class="col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
					<h3 class="heading-with-icon">
						<i class="icon-chat"></i>
						<span>Ilian - MX</span>
					</h3>
					<p>xcelente trato, trabajadores super amables, las instalaciones están muy lindas y cómodas, excelente higiene. Definitivamente se esmeran por hacer perfecta tu estancia. Por supuesto que volvere.</p>

				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
					<h3 class="heading-with-icon">
						<i class="icon-chat"></i>
						<span>Dante - MX</span>
					</h3>
					<p>Hotel muy cómodo, las habitaciones limpias y si buscas moverte al centro como al teatro degollado, hospicio cabañas o musa, es una excelente opción. Me quedé una semana y siempre estuve a gusto. La ubicación le da un plus y por calidad precio es una de muy buena opción.</p>

				</div>
				<div class="clearfix visible-lg-block visible-md-block visible-sm-block"></div>
			</div>
		</div>
	</section>


	<section class="probootstrap-section">
		<div class="container">
			<div class="row mb30">
				<div class="col-md-8 col-md-offset-2 probootstrap-section-heading text-center">
					<h2>EXPLORA NUESTROS SERVICIOS</h2>
					<p class="lead">Disfrutarás de una magnífica ubicación en pleno Centro de Guadalajara, a solo 15 minutos a pie de Avenida Chapultepec y Consulado de los Estados Unidos en Guadalajara.</p>
					<p><img src="img/line_decorative_full.svg" class="svg" alt="Hotel Isabel en Guadalajara Jalisco [Imagen]"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="service left-icon probootstrap-animate">
						<div class="icon">
							<img src="{{ base_url }}img/iconos/iconos-22.png" class="svg" alt="Hotel Isabel en Guadalajara Jalisco [Imagen] by polenavenue.com">
						</div>
						<div class="text">
							<h3>ALBERCA</h3>
							<p>Alberca al aire libre donde podrás disfrutar de un merecido descanso o de un momento de relajación.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service left-icon probootstrap-animate">
						<div class="icon">
							<img src="{{ base_url }}img/iconos/iconos-16.png" class="svg" alt="El comedor restaurante tradicional">
						</div>
						<div class="text">
							<h3>ÁREA FITNESS</h3>
							<p>Te brindamos una estación fitness al aire libre completa para hacer varios ejercicios.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service left-icon probootstrap-animate">
						<div class="icon">
							<img src="img/flaticon/svg/002-el-comedor-restaurante-isabel-gdl.svg" class="svg" alt="Transporte privado El Valiente en Hotel Isabel">
						</div>
						<div class="text">
							<h3>"EL COMEDOR"</h3>
							<p>Para desayunar o comer, un restaurante especializado en cocina mexicana también puedes aprovechar de nuestro Room Service.</p>
							<p>
								<a href="{{ base_url }}comedor.php" class="link-with-icon">Ver más
									<i class=" icon-chevron-right"></i>
								</a>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="service left-icon probootstrap-animate">
						<div class="icon">
							<img src="{{ base_url }}img/iconos/iconos-19.png" class="svg" alt="Hotel Isabel en Guadalajara Jalisco [Imagen] by polenavenue.com">
						</div>
						<div class="text">
							<h3>"EL VALIENTE"</h3>
							<p>Disfruta de nuestro servicio de transporte privado, esperando a llevarte a conocer la ciudad.</p>
							<p>
								<a href="https://wa.link/9a1v75" class="link-with-icon">Reserva tu viaje
									<i class=" icon-chevron-right"></i>
								</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service left-icon probootstrap-animate">
						<div class="icon">
							<img src="{{ base_url }}img/iconos/iconos-20.png" class="svg" alt="El comedor restaurante tradicional">
						</div>
						<div class="text">
							<h3>ORQUIDEARIO</h3>
							<p>Una gran selección de orquídeas donde las podrás admirar a lo largo del año, cada una en su temporada.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="service left-icon probootstrap-animate">
						<div class="icon">
							<img src="{{ base_url }}img/iconos/iconos-21.png" class="svg" alt="Transporte privado El Valiente en Hotel Isabel">
						</div>
						<div class="text">
							<h3>RECEPCIÓN</h3>
							<p>Contamos con recepción abierta las 24 horas, para facilitar tu llegada a nuestro hotel en cualquier momento que lo necesites.</p>
						</div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="service left-icon probootstrap-animate">
						<div class="icon">
							<img src="{{ base_url }}img/iconos/iconos-17.png" class="svg" alt="Transporte privado El Valiente en Hotel Isabel">
						</div>
						<div class="text">
							<h3>54 HABITACIONES</h3>
							<p>Te sentirás como en tu propia casa en cualquiera de nuestras 54 habitaciones, diferentes entre sí adaptadas a tus necesidades.</p>
							<p>
								<a href="{{ base_url }}habitaciones.php" class="link-with-icon">Ver más
									<i class=" icon-chevron-right"></i>
								</a>
							</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="probootstrap-half">
		<div class="image" style="background-image: url(img/hotel_isabel_guadalajara.jpg);"></div>
		<div class="text">
			<div class="probootstrap-animate fadeInUp probootstrap-animated">
				<h2 class="mt0">Hotel Isabel</h2>
				<p><img src="img/line_flower_decorative_full.svg" class="seperator" alt="Hotel Isabel en Guadalajara Jalisco [Imagen]"></p>
				<div class="row">
					<div class="col-md-6">
						<p>Alberca al aire libre podrás disfrutar de un merecido descanso o de un momento de relajación. No te quedará ni un minuto libre. No climatizada.</p>
					</div>
					<div class="col-md-6">
						<p>Terraza y jardín donde podrás sentarte a disfrutar de tu desayuno mientras te relajas contemplado el paisaje.</p>
					</div>
				</div>
				<p>
					<a href="about.html" class="link-with-icon white">Ver más<i class=" icon-chevron-right"></i>
					</a>
				</p>
			</div>
		</div>
	</section>
{% endblock %}

{% block appFooter %}
<script>
	let nosotrosSlide = document.querySelector('#nosotrosSlide');
	let slideActive = 0;
	const slides = [
		'{{base_url}}img/nosotros/nosotros-slide-1.jpg',
		'{{base_url}}img/nosotros/nosotros-slide-2.jpg',
		'{{base_url}}img/nosotros/nosotros-slide-3.jpg',
		'{{base_url}}img/nosotros/nosotros-slide-4.jpg',
		'{{base_url}}img/nosotros/nosotros-slide-5.jpg',
		'{{base_url}}img/nosotros/nosotros-slide-6.jpg',
		'{{base_url}}img/nosotros/nosotros-slide-7.jpg',
		'{{base_url}}img/nosotros/nosotros-slide-8.jpg',
		'{{base_url}}img/nosotros/nosotros-slide-9.jpg',
		'{{base_url}}img/nosotros/nosotros-slide-10.jpg',
		'{{base_url}}img/nosotros/nosotros-slide-11.jpg',
		'{{base_url}}img/nosotros/nosotros-slide-12.jpg',
	];

	setInterval(() => {
		nextSlide();
	}, 5000);

	function nextSlide() {
		(slideActive == (slides.length - 1)) ? slideActive = 0 : slideActive += 1;
		nosotrosSlide.setAttribute('src', slides[slideActive]);
	}
</script>
{% endblock %}