<!DOCTYPE html>
<html>
  <head>
    <title>Seleccione su habitación</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- components -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- /components -->
    <link rel="stylesheet" href="{{ base_url() }}assets/css/booking.css">
  </head>
  <body class="min-h-screen bg-indigo-50">
    <!-- Header -->
    <header class="bg-indigo-50">
        <img src="{{ base_url() }}img/logos/logo.png" alt="logo" class="w-40 mx-auto py-4">
    </header>

    <!-- Date and Room -->
    <div class="flex items-center justify-center bg-indigo-50 p-4">
        <form method="GET" action="{{base_url()}}booking/book-now" class="md:flex md:gap-4 box-shadow bg-white px-5 sm:px-20 md:px-2 xl:px-10 py-4 rounded">
            <!-- Date -->
            <div class="md:w-1/2 sm:flex gap-1">
                <div class="w-full">
                    <div class="mb-5">
                        <label
                        for="date"
                        class="mb-3 block text-base font-medium text-[#07074D]"
                        >
                        Start Date
                        </label>
                        <input
                        type="date"
                        name="start_date"
                        id="start_date"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                        />
                    </div>
                </div>
                <div class="w-full">
                    <div class="mb-5">
                        <label
                        for="date"
                        class="mb-3 block text-base font-medium text-[#07074D]"
                        >
                        End Date
                        </label>
                        <input
                        type="date"
                        name="end_date"
                        id="end_date"
                        class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                        />
                    </div>
                </div>
            </div>
            <!-- /Date -->
            <!-- Pax -->
            <div class="md:w-1/2 flex gap-1 md:ml-6">
                <div class="mb-5 md:w-16">
                    <label
                    for="adults"
                    class="mb-3 block text-base font-medium text-[#07074D]"
                    >
                    Adultos
                    </label>
                    <input
                    type="number"
                    name="adults"
                    id="adults"
                    placeholder="1"
                    min="1"
                    value="1"
                    class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 md:px-3 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                    />
                </div>
                <div class="mb-5 md:w-16">
                    <label
                    for="minors"
                    class="mb-3 block text-base font-medium text-[#07074D]"
                    >
                    Menores
                    </label>
                    <input
                    type="number"
                    name="minors"
                    id="minors"
                    placeholder="0"
                    min="0"
                    value="0"
                    class="w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 md:px-3 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                    />
                </div>
            </div>

            <input type="hidden" name="room_id" value="8">
            <!-- /Pax -->
            <!-- submit -->
            <div class="my-auto mt-9 w-full">
                <button
                class="hover:shadow-form rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none"
                >
                Book now
                </button>
            </div>
            <!-- /submit -->
        </form>
    </div>
    <!-- /Date and Room -->
    <!-- Rooms -->
    <div class="flex h-full items-center justify-center bg-indigo-50 px-4 gap-4 pb-8">
        <!-- Room 1 -->
        <div class="max-w-sm overflow-hidden rounded-xl bg-white shadow-md duration-200 hover:scale-105 hover:shadow-xl">
            <img src="{{ base_url() }}img/room/suit-isabel-hotel-isabel-gdl.png" alt="plant" class="h-auto w-full" />
            <div class="p-5">
                <h2 class="font-bold text-xl text-gray-700 mb-4">Habitación Sencilla</h2>
                <p class="text-medium mb-5 text-gray-700">Habitación Sencilla, especialmente diseñada para tu comodidad y conveniencia, recomendada para 2 personas. Esta habitación cuenta con una mesa de trabajo, equipada con una cama King Size perfecta para una buena noche de sueño.</p>
                <button class="w-full rounded-md bg-indigo-600  py-2 text-indigo-100 hover:bg-indigo-500 hover:shadow-md duration-75">Book now</button>
            </div>
        </div>
        <!-- Room 2 -->
        <div class="max-w-sm overflow-hidden rounded-xl bg-white shadow-md duration-200 hover:scale-105 hover:shadow-xl">
            <img src="{{ base_url() }}img/room/suit-paillaud-hotel-isabel-gdl.png" alt="plant" class="h-auto w-full" />
            <div class="p-5">
                <h2 class="font-bold text-xl text-gray-700 mb-4">Habitación Doble</h2>
                <p class="text-medium mb-5 text-gray-700">Contamos con 40 habitaciones dobles, en ellas podrás disfrutar de la paz y comodidad que produce hospedarse en estas habitaciones estilo rustico, un espacio lleno de confort y descanso. Equipadas con dos camas matrimoniales, ideales para 4 personas.</p>
                <button class="w-full rounded-md bg-indigo-600  py-2 text-indigo-100 hover:bg-indigo-500 hover:shadow-md duration-75">Book now</button>
            </div>
        </div>
    </div>
   <!-- /Rooms -->

    <script>

        function todayDate() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            return yyyy + '-' + mm + '-' + dd;
        }

        function stringToDate(stringDate, separator = '-') {
            // Dividimos la cadena en día, mes y año
            let dateParts = stringDate.split(separator);

            // Creamos un objeto Date usando los valores de día, mes y año
            let fecha = new Date(dateParts[0], dateParts[1] - 1, dateParts[2]);

            return fecha.toDateString();
        }

        console.log(todayDate());
        console.log(stringToDate(todayDate()));

        let startDate = document.getElementById("start_date");
        startDate.setAttribute("min", todayDate());
        startDate.setAttribute("value", todayDate());
        
    </script>

  </body>
</html>